.hero-section {
  background: url('https://res.cloudinary.com/iqbalululazmi/image/upload/c_scale,h_800/v1629985026/tim-marshall-cAtzHUz7Z8g-unsplash_vjgfic.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-awesome-project {
  background-color: #0d141c;
}

.bg-project-1 {
  background-color: #f9f8fc;
}

.bg-project-2 {
  background-color: #dee3ef;
}

.bg-project-3 {
  background-color: #172430;
}
